node_modules
dist
npm-debug.log
.git
.dockerignore
Dockerfile
Dockerfile.prod
docker-compose.yaml
docker-compose.yml
.env
.platform
.husky
.yarnrc.yml
README.md
buildspec.yml
Procfile
uploads
logs
test
docs
.editorconfig
.eslintrc.js
.prettierrc
.tool-versions
.lintstagedrc.json
jest.config.ts
prisma/migrations
*.sql
*.txt
*.js
*.ts
!src
!prisma
!package.json
!package-lock.json
!tsconfig.json
!tsconfig.build.json
!nest-cli.json
